VITE_FIREBASE_API_KEY=tucodigo-api-key
VITE_FIREBASE_AUTH_DOMAIN=lifextreme-web-mvp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lifextreme-web-mvp
VITE_FIREBASE_STORAGE_BUCKET=lifextreme-web-mvp.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=tusenderid
VITE_FIREBASE_APP_ID=tuappid
